@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Pafoodic Seacod - Marketing Dept</h2>
<hr />
<h3>We offer fish, plankton, sea greens, and protein from the sea.</h3>