@{ 
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Welcome to Son of Sam Something Something Seafood</h2>
<hr />
<p>@Html.ActionLink("Registration", "Registration")</p>
