@{ 
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims



<h2> Pafoodic Seacod - Marketing page</h2>
<hr />
<h4> Welcome to our Marketing Page!  We offer fish, plankton, sea greens, and protein from the sea.</h4>

<p>@Html.ActionLink("Newsletter Signup", "Signup")</p>


